@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: ibm-retro;
  src:  url('./assets/fonts/PxPlus_IBM_VGA8.ttf');
}

html {
  font-family: system-ui, sans-serif;
}

.hero-title {
  font-family: ibm-retro, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #15803d;
  background: -webkit-linear-gradient(80deg, #d8d8d8 0%, #15803d 33%, #d8d8d8 66%, #15803d 100%);
  background: -moz-linear-gradient(80deg, #d8d8d8 0%, #15803d 33%, #d8d8d8 66%, #15803d 100%);
  background: -ms-linear-gradient(80deg, #d8d8d8 0%, #15803d 33%, #d8d8d8 66%, #15803d 100%);
  background: -o-linear-gradient(80deg, #d8d8d8 0%, #15803d 33%, #d8d8d8 66%, #15803d 100%);
  background: linear-gradient(80deg, #d8d8d8 0%, #15803d 33%, #d8d8d8 66%, #15803d 100%);
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hero-anim 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  -moz-animation: hero-anim 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
  animation: hero-anim 5s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

.hero-title:hover > * {
  animation-play-state: paused;
}

@-webkit-keyframes hero-anim {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 15% 100%
  }
}

@-moz-keyframes hero-anim {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 15% 100%
  }
}

@keyframes hero-anim {
  0% {
      background-position: 100% 0%
  }
  100% {
      background-position: 15% 100%
  }
}

span.char{
  --delay: calc((var(--char-d) + 1) * 400ms);
  animation: fontChange 4s infinite both;
  animation-delay: var(--delay);
}

@keyframes fontChange {
  0% {
    font-family: ibm-retro, monospace
  }
  20% {
    font-family: 'Times New Roman', Times, serif
  }
  40% {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
  60% {
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  80% {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  100% {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
}